<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hey hey</h1>
    <ul>
      {{#model}}
      <li>{{title}} - {{release_date}} - {{imdb_link}}</li>
      {{/model}}
    </ul>


  </body>
</html>
